<!-- CONTATO -->
<div id='box2'>
	<div id='contact-content'>
    	<h1>Entre em contato conosco!</h1>
        <img src="images/img_contato.png" width="449" height="52" />
        <form>
        	<label style="margin-left:10px;">Nome</label>
			<input type="text" style="margin-left:40px;" /><br />
            
			<label>E-mail</label>
			<input type="text" /><br />
            
			<label style="margin-left:-35px; margin-top:-50px;">Mensagem</label>
			<textarea></textarea>
        </form>
    </div>
</div>
<!-- CONTATO -->