<!-- HOME -->
<div id='home'>
	<div id="home-left">
    	<img class="tit_home" src="images/tit_home.png" alt="Spa Odontológico & Cirurgia Plástica" /><br /><br /><br /><br /><br /><br />
        <a href="javascript: void(0)" class="clinica"><img src="images/btn_home.png" alt="Spa Odontológico & Cirurgia Plástica" /></a>
    </div>
    <div id="home-right">
    	<img src="images/img_home.png" alt="Spa Odontológico & Cirurgia Plástica" />
    </div>
</div>
<!-- /HOME -->