<%content_for :head do%>
<script>
$(document).ready(function(){	
	$('.clinica').click(function(){
		$('html,body').animate({scrollTop: 648}, 500);
		selecionado(this);
		});
	
	$('#cirurgia').click(function(){
		$('html,body').animate({scrollTop: 648}, 500);
		selecionado(this);
		});
	
	$('#tratamentos').click(function(){
		$('html,body').animate({scrollTop: 1330}, 500);
		selecionado(this);
		});
	
	$('#contato').click(function(){
		$('html,body').animate({scrollTop: 1985}, 500);
		selecionado(this);
		});
	
		
});
</script>
<%end%>

<%=render :partial => "home"%>

<div id="border-box-top"></div>

<div id='box1'>
	<div id='box1_content'>
		<div id='clinica_left'>
			<img src="images/tit_clinica.png" />
			<div id='box_text_clinica'>
				<p>&nbsp;&nbsp;&nbsp;Aqui nossos pacientes dispõem do melhor atendimento com a mais alta tecnologia e conforto a favor de seu bem-estar e saúde. Entendemos que a busca por uma vida mais saudável requer atenção e valorização equivalentes, por isso oferecemos um moderno SPA odontológico e centro cirúrgico para cirurgias plásticas totalmente equipados e prontos para te receber. Conheça todos os nossos tratamentos.</p>
			</div>
			<img src="images/ico_clinica.png" /><br>
			<a href='javascript: void(0)' id="tratamentos"><img src="images/btn_tratamentos.png" /></a>
		</div>
		<div id='clinica_right'>
			<img src="images/img_double_line.png" style="margin-bottom:10px;" />
			<div id='box_images_clinica'>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)">
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)">
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)" class='image'>
					<img src='images/sample.jpg' />
				</a>
				<a href="javascript: void(0)">
					<img src='images/sample.jpg' />
				</a>
			</div>
			<img src="images/img_double_line.png" />
		</div>
	</div>
</div>
<div id="border-box-footer"></div>

<div id='box3'>
	<div id='box-tratamento-content'>
		<div id='tratamento_left'>
			<img src="images/tit_tratamento.png" />
			<div id='box_text_tratamento'>
				<p>&nbsp;&nbsp;&nbsp;A Clínica Saraiva é o único lugar onde você dorme durante todo o tratamento odontológico sem sentir ou ver absolutamente nada. Com uma equipe multidisciplinar e uma infra-estrutura moderna e confortável para a realização dos tratamentos odontológicos, somos o primeiro e único no país a possuir equipamento odontológico instalado dentro de um centro cirúrgico, para que nossos pacientes possam realizar seus tratamentos no regime de SPA Odontológico com o conforto da sedação e a economia de tempo. Em nossa Day Clinic os pacientes contam com apartamentos que garantem seu pleno restabelecimento enquanto são assistidos por nossa equipe de profissionais.</p>
			</div>
			<img src="images/ico_clinica.png" style="margin-top:20px;" /><br>
			<img src="images/menu_tratamento.png" style="margin-top:20px;" /><br>
		</div>
		<div id='tratamento_right'>
			<img src="images/img_tratamentos.png" />
		</div>
	</div>
</div>
<div id="border-box-top-3"></div>
<%=render :partial => "contact"%>