<h1>Bem-Vindo</h1>

Esta área do site foi desenvolvida exclusivamente para o gerenciamento e controle do site Clínica Saraiva.<br/>
<br/>
A utilização deste sistema tem como objetivo facilitar e melhorar o manuseio de informações. Para isso é de extrema importância que cada item seja respeitado.<br/>
<br/>
Adicione e edite as informações utilizando a coluna ao lado.<br/>