<div id="Footer_content">
	<div id="Copyright" class="eight columns">
		<p>Kore.wa CMS © 2011 - all rights reserved.</p> 
	</div>
	
	<div id="MenuFooter" class="four columns end">
		<ul>
			<li><a href="#">Politica de privacidade&nbsp;</a>•&nbsp;</li>
			<li><a href="#">Termos de Uso&nbsp;</a>•&nbsp;</li>
			<li><a href="#">Ajuda&nbsp;</a>•&nbsp;</li>
			<li><a href="#">Suporte </a></li>
		</ul>
	</div>	
</div>