<div id='menu'>
	<ul>
    	<li id="clinica"><a href="javascript: void(0)">A Clínica</a></li>
        <img class="ico_menu" src="images/ico_menu.png" width="5" height="5" />
        <li><a href="javascript: void(0)">Spa Odontológico</a></li>
        <img class="ico_menu" src="images/ico_menu.png" width="5" height="5" />
        <li id="cirurgia"><a href="javascript: void(0)">Cirurgia Plástica</a></li>
        <div id="logo"></div>
        <li class="menu_right"><a href="javascript: void(0)">Sustentabilidade</a></li>
        <img class="ico_menu" src="images/ico_menu.png" width="5" height="5" />
        <li><a href="javascript: void(0)">Na Mídia</a></li>
        <img class="ico_menu" src="images/ico_menu.png" width="5" height="5" />
        <li id="contato"><a href="javascript: void(0)">Contato</a></li>
     </ul>
     
</div>